# Ignore virtual environment
myenv/
venv/
env/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore environment files
*.env
.env

# Ignore IDE/editor files
.vscode/
.idea/

# Ignore macOS / Windows clutter
.DS_Store
Thumbs.db

# Ignore logs
*.log
